

<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>

<div class="container">
  <b><h2>Directorio</h2></b>
             
  <table class="table">
    
    <tbody>
      <tr class="success">
        <td>
          <img width="100" height="100" src="/assets/ivanmario.jpg">
        </td>
        <td>
          
          <br> 
          Nombre: IVAN MARIO  
        <br> 
          Apellido: VILLCA AREVILLCA 
          <br>
          Empresa: COBOCE LTDA.
          <br>
          Puesto: DIRECTOR 


        </td>
       
      </tr>
      <tr class="info">
        <td>
          <img width="100" height="100" src="/assets/joseguillermo.jpg">
        </td>
        <td>
          
          <br> 
          Nombre: JOSE GUILLERMO   
        <br> 
          Apellido: MENDIZABAL TERAN
          <br>
          Empresa: PROALBO
          <br>
          Puesto: DIRECTOR 


        </td>
        
       
      </tr>
        <tr class="success">
          <td>
          <img width="100" height="100" src="/assets/milton.jpg">
        </td>
        <td>
          
          <br> 
          Nombre: MILTON ALBERTO 
        <br> 
          Apellido: ENCINAS MONTAÑO 
          <br>
          Empresa: FACER S.R.L 
          <br>
          Puesto: VICE PRESIDENTE 


        </td>
        
       
      </tr>
      <tr class="info">
         <td>
          <img width="100" height="100" src="/assets/luisfernando.jpg">
        </td>
        <td>
          
          <br> 
          Nombre: LUIS FERNANDO 
        <br> 
          Apellido: LAREDO ARELLANO 
          <br>
          Empresa: CIMCO LTDA. 
          <br>
          Puesto: PRESIDENTE 


        </td>
        
        
       
      </tr>
         <tr class="success">
           <td>
          <img width="100" height="100" src="/assets/tania.jpg">
        </td>
        <td>
          
          <br> 
          Nombre: TANIA ELIZABETH  
        <br> 
          Apellido: CLAROS VARGAS 
          <br>
          Empresa: UNILEVER ANDINA BOLIVIA S.A. 
                    <br>
          Puesto: TESORERA 


        </td>
       
       
       
      </tr>
      <tr class="info">
         <td>
          <img width="100" height="100" src="/assets/javierluis.jpg">
        </td>
        <td>
          
          <br> 
          Nombre: JAVIER LUIS  
        <br> 
          Apellido: LUJAN CONTRERAS  
          <br>
          Empresa: YPFB REFINACION S.A. 
          <br>
          Puesto: DIRECTOR 


        </td>
       
      </tr>
         <tr class="success">
          <td>
          
        </td>
        <td>
          
          <br> 
          Nombre: DIEGO 
        <br> 
          Apellido: ARGANDOÑA ARAMAYO
          <br>
          Empresa: COPELME S.A.
          <br>
          Puesto: DIRECTOR 


        </td>
         
        
       
      </tr>
      
        
    
        
      
    </tbody>
  </table>
</div>

</body>
</html>
