

<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>

<div class="container">
  
             
  <table class="table">
    
    <tbody>
      <tr class="success">
        <td>
          Elaboración y conservación de carne
        </td>
        
      </tr>
      <tr class="info">
        <td>
          Elaboración y conservación de frutas, legumbres y hortalizas
        </td>
        
       
      </tr>
      <tr class="success">
        <td>
         Elaboración de aceites y grasas de origen vegetal y animal
        </td>
        
      </tr>
      <tr class="info">
        <td>
          Elaboración de productos lácteos
        </td>
        
       
      </tr>
      <tr class="success">
        <td>
         Elaboración de productos de molinería
        </td>
        
      </tr>
      <tr class="info">
        <td>
         Elaboración de productos de panadería
        </td>
        
       
      </tr>
       <tr class="success">
        <td>
        Elaboración de azúcar
        </td>
        
      </tr>
      <tr class="info">
        <td>
         Elaboración de cacao y chocolate y de productos de confitería
        </td>
        
       
      </tr>
          <tr class="success">
        <td>
        Elaboración de macarrones, fideos, alcuzcuz y productos farináceos similares
        </td>
        
      </tr>
      <tr class="info">
        <td>
         Elaboración de otros productos alimenticios n.c.p.
        </td>
        
       
      </tr>
           <tr class="success">
        <td>
        Elaboración de piensos preparados para animales
        </td>
        
      </tr>
      <tr class="info">
        <td>
         Destilación, rectificación y mezcla de bebidas alcohólicas
        </td>
        
       
      </tr>
           <tr class="success">
        <td>
        Elaboración de vinos
        </td>
        
      </tr>
      <tr class="info">
        <td>
         Elaboración de bebidas malteadas y de malta
        </td>
        
       
      </tr>
         <tr class="success">
        <td>
        Elaboración de bebidas no alcohólicas; producción de aguas minerales, otras aguas embotelladas.
        </td>
        
      </tr>
      <tr class="info">
        <td>
         Elaboración de productos de tabaco
        </td>
        
       
      </tr>
          <tr class="success">
        <td>
        Preparación e hilatura de fibras textiles
        </td>
        
      </tr>
      <tr class="info">
        <td>
         Tejedura de productos textiles
        </td>
        
       
      </tr>
           <tr class="success">
        <td>
        Fabricación de artículos confeccionados de materiales textiles, excepto prendas de vestir
        </td>
        
      </tr>
      <tr class="info">
        <td>
         Fabricación de otros productos textiles n.c.p.
        </td>
        
       
      </tr>
        <tr class="success">
        <td>
        Fabricación de prendas de vestir, excepto prendas de piel
        </td>
        
      </tr>
      <tr class="info">
        <td>
         Fabricación de artículos de punto y ganchillo
        </td>
        
       
      </tr>
        
        <tr class="success">
        <td>
       Curtido y adobo de cueros; adobo y teñido de pieles
        </td>
        
      </tr>
      <tr class="info">
        <td>
         Fabricación de maletas, bolsos de mano y artículos similares, y de artículos de talabartería y guarnicionería
        </td>
        
       
      </tr>
        <tr class="success">
        <td>
       Fabricación de calzado
        </td>
        
      </tr>
      <tr class="info">
        <td>
         Aserrado y acepilladura de madera
        </td>
        
       
      </tr>
        <tr class="success">
        <td>
       Fabricación de hojas de madera para enchapado y tableros a base de madera
        </td>
        
      </tr>
      <tr class="info">
        <td>
         Fabricación de partes y piezas de carpintería para edificios y construcciones
        </td>
        
       
      </tr> 
        <tr class="success">
        <td>
       Fabricación de pasta de madera, papel y cartón
        </td>
        
      </tr>
      <tr class="info">
        <td>
         Fabricación de papel y cartón ondulado y de envases de papel y cartón
        </td>
        
       
      </tr> 
       <tr class="success">
        <td>
       Fabricación de otros artículos de papel y cartón
        </td>
        
      </tr>
      <tr class="info">
        <td>
         Impresión
        </td>
        
       
      </tr> 
        <tr class="success">
        <td>
      Fabricación de productos de la refinación del petróleo
        </td>
        
      </tr>
      <tr class="info">
        <td>
         Fabricación de sustancias químicas básicas
        </td>
        
       
      </tr>  
         <tr class="success">
        <td>
      Fabricación de abonos y compuestos de nitrógeno; fabricación de plaguicidas y otros productos químicos de uso agropecuario
        </td>
        
      </tr>
      <tr class="info">
        <td>
         Fabricación de pinturas, barnices y productos de revestimiento similares, tintas de imprenta y masillas
        </td>
        
       
      </tr>  
          <tr class="success">
        <td>
      Fabricación de jabones y detergentes, preparados para limpiar y pulir, perfumes y preparados de tocador
        </td>
        
      </tr>
      <tr class="info">
        <td>
         Fabricación de otros productos químicos n.c.p.
        </td>
        
       
      </tr>  
          <tr class="success">
        <td>
     Fabricación de productos farmacéuticos, sustancias químicas medicinales y productos botánicos de uso farmacéutico
        </td>
        
      </tr>
      <tr class="info">
        <td>
         Fabricación de cubiertas y cámaras de caucho; recauchutado y renovación de cubiertas de caucho
        </td>
        
       
      </tr> 
      <tr class="success">
        <td>
     fabricación de otros productos de caucho
        </td>
        
      </tr>
      <tr class="info">
        <td>
         Fabricación de productos de plástico
        </td>
        
       
      </tr> 
        <tr class="success">
        <td>
     Fabricación de vidrio y productos de vidrio
        </td>
        
      </tr>
      <tr class="info">
        <td>
         Fabricación de materiales de construcción de arcilla
        </td>
        
       
      </tr>
         <tr class="success">
        <td>
     Fabricación de cemento, cal y yeso
        </td>
        
      </tr>
      <tr class="info">
        <td>
         Fabricación de artículos de hormigón, cemento y yeso; corte, talla y acabado de la piedra
        </td>
        
       
      </tr>
          <tr class="success">
        <td>
     Industrias básicas de hierro y acero
        </td>
        
      </tr>
      <tr class="info">
        <td>
         Fabricación de productos primarios de metales preciosos y otros metales no ferrosos
        </td>
        
       
      </tr>
   <tr class="success">
        <td>
     Fabricación de productos metálicos para uso estructural
        </td>
        
      </tr>
      <tr class="info">
        <td>
         Fabricación de tanques, depósitos y recipientes de metal; fabricación de generadores de vapor, excepto calderas de agua caliente para calefacción central; fabricación de artículos de cuchillería, herramientas de mano y artículos de ferretería
        </td>
        
       
      </tr>
      <tr class="success">
        <td>
   Fabricación de otros productos elaborados de metal n.c.p.
        </td>
        
      </tr>
      <tr class="info">
        <td>
         Fabricación de pilas, baterías y acumuladores; fabricación de otros hilos y cables eléctricos
        </td>
        
       
      </tr>
<tr class="success">
        <td>
  Fabricación de equipo eléctrico de iluminación
        </td>
        
      </tr>
      <tr class="info">
        <td>
   Fabricación de maquinaria y equipo n.c.p.
        </td>
        
       
      </tr>
      <tr class="success">
        <td>
  Fabricación de vehículos automotores, remolques y semirremolques
        </td>
        
      </tr>
      <tr class="info">
        <td>
   Fabricación de muebles
        </td>
        
       
      </tr>
<tr class="success">
        <td>
  Fabricación de joyas y artículos conexos
        </td>
        
      </tr>
      <tr class="info">
        <td>
   Fabricación de instrumentos y materiales médicos y odontológicos;
otras industrias manufactureras n.c.p.

        </td>
        
       
      </tr>
      <tr class="success">
        <td>
 Reparación de maquinaria
        </td>
        
      </tr>

    </tbody>
  </table>
</div>

</body>
</html>
