

<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>

<div class="container">
  
             
  <table class="table">
    
    <tbody>
      <tr class="success">
        <td>
          <img src="/assets/feria1.jpg" width="400" height="160">
        </td>
        <td>
          
          
          FIACRUZ 
        <br> 
        <br>
          Del miércoles 4 al domingo 8 marzo 2015.
          <br>
          <ul type="disc">
            <li>- Automóvil</li>
            <li>- Coches antiguos </li>
            <li>- Motocicletas</li>
            <li>- Vehículos </li>
          </ul>
          
          Feria Exposición de Santa CruzSanta Cruz de la Sierra (Bolivia)
          


        </td>
       
      </tr>
      <tr class="danger"><td></td><td></td></tr>
      <tr class="info">
        <td>
          <img src="/assets/feria2.jpg" width="400" height="160">
        </td>
        <td>
          
          
          3ª FERIA DEL CRÉDITO 
        <br> 
        <br>
          Del jueves 12 de marzo al domingo 15 de marzo 2015.

          <br>
          <ul type="disc">
            <li>- Jueves a Viernes     Hrs. 17:00 – 22:00</li>
            <li>- Sábado y Domingo Hrs. 15:00 – 22:00</li>
            <li>- Ingreso Gratuito</li>
            <li>Pabellón Cochabamba del Recinto Ferial de Alalay  </li>
          </ul>
          
          Cochabamba - Bolivia
          


        </td>
        
       
      </tr>
      <tr class="danger"><td></td><td></td></tr>
        <tr class="success">
          <td>
          <img src="/assets/feria3.jpg" width="400" height="160">
        </td>
        <td>
          
          
          Agropecruz
        <br> 
        <br>
          Del martes 14 al domingo 19 de abril 2015.
          <br>
          <ul type="disc">
            <li>Exposición permanente de ganado bovino, equino y ovino.
 
</li>
            <li>  -  Hrs. 08:00 - 22:00 </li>
            <li>  - Lugar: Pabellones de Ganadería. </li>
            <li>Exposición de maquinarias agrícolas, artesanías y productos relacionados a la agropecuaria.</li>
          <li>  -  Hrs. 17:00 – 22:00</li>
            <li>  -Fexpocruz- Santa Cruz de la Sierra  </li>

          </ul>
          
         


        </td>
       
      </tr>
      <tr class="danger"><td></td><td></td></tr>
      <tr class="info">
         <td>
          <img src="/assets/feria4.jpg" width="400" height="160">
        </td>
        <td>
          
          
         Feria Integral de la Mujer
        <br> 
        <br>
          Del miércoles 6 al domingo 10 mayo 2015.

          <br>
          <ul type="disc">
            <li>- Belleza</li>
            <li>- Moda</li>
            <li>- Servicios</li>
            <li>- Moda Mujer</li>
            <li>- Negocios</li>
           Fexpocruz- Santa Cruz de la Sierra (Bolivia).
          </ul>
          
          Cochabamba - Bolivia
          


        </td>
        
        
        
       
      </tr>
      <tr class="danger"><td></td><td></td></tr>
         <tr class="success">
           <td>
          <img src="/assets/feria5.jpg" width="400" height="160">
        </td>
        <td>
          
          
         32ª FERIA INTERNACIONAL DE COCHABAMBA
        <br> 
        <br>
         Del jueves 23 de Abril al domingo 3 de Mayo de 2015
          <br>
          <ul type="disc">
            <li>Lugar: Recinto Ferial de Alalay</li>
            <li>Organiza: FEICOBOL</li>
            


        </td>
        
       
       
       
      </tr>
      <tr class="danger"><td></td><td></td></tr>
      <tr class="info">
         <td>
          <img src="/assets/feria6.jpg" width="400" height="160">
        </td>
        <td>
          
          
        Expoforest
        <br> 
        <br>
          Del miércoles 17 al sábado 20 de junio 2015.

          <br>
          <ul type="disc">
            <li>- 13ra. FERIA INTERNACIONAL “BOSQUE – MADERA & TECNOLOGIA”</li>
            <li>- Organiza: Fexpocruz - Cámara Forestal de Bolivia</li>
            
           Lugar: Feria Exposición de Santa Cruz, FEXPOCRUZ 
          </ul>
          
         
          


        </td>
        
        
      </tr>
        <tr class="danger"><td></td><td></td></tr>
      <tr class="success">
         <td>
          <img src="/assets/feria7.jpg" width="400" height="160">
        </td>
        <td>
          
          
         EXPO ALIMENTA
        <br> 
        <br>
          1ª Feria de Alimentos & Bebidas

          <br>
          Del jueves 9 al domingo  12 de julio de 2015
          <ul type="disc">
            <li>-LUGAR: Recinto Ferial de Alalay</li>
            <li>- HORARIO: Jueves a Domingo: 14:00 a 22:00 Hrs.</li>
            
           ORGANIZAN:
           <br>
FEICOBOL- CAMARA DE EXPORTADORES DE COCHABAMBA

          </ul>
          
          Cochabamba - Bolivia
          


        </td>
       
      </tr>
         <tr class="danger"><td></td><td></td></tr>
      <tr class="info">
         <td>
          <img src="/assets/feria8.jpg" width="400" height="160">
        </td>
        <td>
          
          
         40° Feria Internacional de Santa Cruz – EXPOCRUZ 2015
        <br> 
        <br>
          Del jueves 18 al domingo 27 de septiembre 2015.
          <br>
          <ul type="disc">
            <li>- Lugar: Predio ferial de FEXPOCRUZ

</li>
            
          </ul>
          
         
          


        </td>
        
       
      </tr>
        <tr class="danger"><td></td><td></td></tr>
      <tr class="success">
         <td>
          <img src="/assets/feria9.jpg" width="400" height="160">
        </td>
         <td>
          
          
       FIPAZ 2015
        <br> 
        <br>
          Del 28 de Octubre al 8 de Noviembre
          <br>
          <ul type="disc">
            <li>- Lugar:Campo ferial "Chuquiago Marka"-La Paz

</li>
            
          </ul>
          
         
          


        </td>
      </tr>
        <tr class="danger"><td></td><td></td></tr>
      <tr class="info">
         <td>
          <img src="/assets/feria10.jpg" width="400" height="160">
        </td>
       <td>
          
          
       EXPOCONSTRUCCIÓN
        <br> 
        <br>
        VI Feria de la Construcción, Arquitectura, Muebles y Vivienda
        <br>
          5, 6, 7 y 8 de noviembre de 2015
          <br>
          <ul type="disc">
            <li>- Lugar:Recinto Ferial de Alalay- Cochabamba

</li>
            
          </ul>
          
         
          


        </td>
       
     <tr class="danger"><td></td><td></td></tr>
      <tr class="success">
         <td>
          <img src="/assets/feria11.jpg" width="400" height="160">
        </td>
           <td>
          
          
       Feria Internacional de Joyeria
        <br> 
        <br>
        III Versión de la Feria Internacional de Joyería 2014
        <br>
          Del 01/12/2015 al 30/12/2015
          <br>
          <ul type="disc">
            <li>- Lugar: Salón Chiquitano de Fexpocruz- Santa Cruz

</li>
<li>Organiza: Joyacruz - CAINCO - Fexpocruz</li>
            
          </ul>
          
         
          


        </td>
       
      </tr>
         
      
        
    
        
      
    </tbody>
  </table>
</div>

</body>
</html>
