

<div class="container" style="width:90%">

            
                          <br>
                          <br>
                            <h3 class="entry-title center">
                                     FINES
                  </h3>
                            <br>
                            <br>
                            <h4 class="entry-title">


              La FUNDACIÓN propugna los siguientes fines:
<br>
                            <br>
A.  Contribuir al desarrollo  de la región y el país, a través de actividades de promoción y fomento de la producción de bienes y servicios “Hecho en Bolivia”.
<br>
                            <br>
B.  Constituir una plataforma de encuentro, análisis y debate entre las comunidades científica, educativa, tecnológica y empresarial de la región y el país.
<br>
                            <br>
C.  Impulsar la divulgación de la oferta productiva del país.
<br>
                            <br>
D.  Fortalecer la conciencia del consumidor a nivel nacional sobre los bienes y servicios “Hecho en Bolivia”.
<br>
                            <br>
E.  Promover y apoyar la competitividad de las empresas productivas de bienes y servicios “Hecho en Bolivia”.


                            </h4>
                            <br>
                            <br>
                            <br>
                                                       

                   

</div>