

<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>

<div class="container">
  
             
  <table class="table">
    
    <tbody>
      <tr class="success">
        <td>
          <a href="/fotos1"><img width="200" height="200" src="/assets/a1f1.jpg"></a>
          CONCURSO DE TEATRO BANCO CENTRAL DE BOLIVIA
        </td>
        <td>
          
          <a href="/fotos2"><img width="200" height="200" src="/assets/a2f1.jpg"></a>
          DÍA DEL NIÑO- ABRIL 2014

         


        </td>
         <td>
          
          <a href="/fotos3"><img width="200" height="200" src="/assets/a3f1.jpg"></a>
          ENTREGA DE PRODUCTOS HECHO EN BOLIVIA

         


        </td>
       <td>
          
          <a href="/fotos4"><img width="200" height="200" src="/assets/a4f1.jpg"></a>
         EXPOINDUSTRIA-2013

         


        </td>
       
       
      </tr>
      <tr class="success">
        <td>
          
          <a href="/fotos5"><img width="200" height="200" src="/assets/a5f1.jpg"></a>
         FIC2015

         


        </td>
        <td>
          
          <a href="/fotos6"><img width="200" height="200" src="/assets/a6f1.jpg"></a>
       EXPERIENCIAS EXITOSAS DE EMPRESARIOS BOLIVIANOS

         


        </td>
       <td>
          
          <a href="/fotos7"><img width="200" height="200" src="/assets/a7f1.jpg"></a>
       RECONOCIMIENTO A CADEPIA COCHABAMBA

         


        </td>
        <td>
          
          <a href="/fotos8"><img width="200" height="200" src="/assets/a8f1.jpg"></a>
         Reconocimiento al Grupo Maria Juana

         


        </td>
      </tr>
      <tr class="success">
        
      </tr>
     
    </tbody>
  </table>
</div>

</body>
</html>
