

<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>

<div class="container">
  
             
  <table class="table">
    
    <tbody>
      <tr class="success">
        <td>
          <img width="300" height="300" src="/assets/a4f1.jpg">
         
        </td>
        <td>
          
          <img width="300" height="300" src="/assets/a4f2.jpg">
         


        </td>
        <td>
          
          <img width="300" height="300" src="/assets/a4f3.jpg">
         


        </td>
       
       
       
      </tr>
      <tr class="info">
        <td>
          
          <img width="300" height="300" src="/assets/a4f4.jpg">
         


        </td>
         <td>
          
          <img width="300" height="300" src="/assets/a4f5.jpg">
         


        </td>
        <td>
          
          <img width="300" height="300" src="/assets/a4f6.jpg">
         


        </td>
      </tr>
            <tr class="success">
        
       <td>
          
          <img width="300" height="300" src="/assets/a4f7.jpg">
         


        </td>
         
       
      </tr>
        
    </tbody>
  </table>
</div>

</body>
</html>
