
<div class="container" style="width:90%">

            
                          <br>
                          <br>
                            <h3 class="entry-title center">
                                     QUIENES SOMOS
                  </h3>
                            <br>
                            <br>
                            <h4 class="entry-title">

La FUNDACIÓN, es una persona jurídica de derecho privado;  sin fines de lucro. El alcance de las actividades realizadas por la FUNDACION, se orientan a contribuir al Desarrollo Económico Social, conforme los lineamientos establecidos en la Planificación Nacional, las Políticas nacionales y las Políticas sectoriales.
<br>
La FUNDACIÓN goza de la capacidad jurídica y las facultades establecidas por el Código Civil y demás disposiciones legales del Estado Plurinacional de Bolivia, con relación a las personas colectivas en general y las fundaciones en particular. Tiene personalidad propia, autónoma y plena capacidad de acción y de decisión para el cumplimiento de sus fines y objetivos.


                            </h4>
                            <br>
                            <br>
                            <br>
                                                       

                   

</div>