

<div class="container" style="width:90%">

            
                          <br>
                          <br>
                            <h3 class="entry-title center">
                                     OBJETO
                  </h3>
                            <br>
                            <br>
                            <h4 class="entry-title">

La FUNDACION tiene por objeto, contribuir al desarrollo y la integración de los productos y servicios nacionales, promoviendo todo tipo de actividades de promoción,  fomento, capacitación, innovación, premiación e información, articulando actores y recursos para lograr el crecimiento económico y empleo sostenible en un entorno integral y colaborativo.
             
                            </h4>
                            <br>
                            <br>
                            <br>
                                                       

                   

</div>