<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> -->


<div class="container" style="width:90%">

            
                          <br>
                          <br>
                            <h3 class="entry-title center">
                                      OBJETIVOS
                  </h3>
                            <br>
                            <br>
                            <h4 class="entry-title">


               a) Vincular mediante la cadena de valor a los demandantes de productos, procesos y servicios con los productores de bienes y servicios “Hecho en Bolivia”. 
               <br>
               <br>

b)  Contribuir a las políticas nacionales de promoción, difusión y administración de la marca país. 
<br>
<br>
c)  Fomentar el desarrollo tecnológico y la competitividad en el sector empresarial.
<br>
<br>
d)  Generar espacios de encuentro de profesionales académicos, funcionarios gubernamentales y representantes empresariales, para el fomento, promoción y fortalecimiento de la producción de bienes y servicios “Hecho en Bolivia”.
<br>
<br>
e)  Elaborar documentos de la oferta del sector productivo.  
<br>
<br>
f)  En general promover todo tipo de actividades para la divulgación de los bienes y servicios “Hecho en Bolivia”. 


                            </h4>
                            <br>
                            <br>
                            <br>
                                                       

                   

</div>