<style type="text/css">

#navlist li
{
display: inline;
list-style-type: none;
padding-right: 20px;
}


</style>

<div id="navcontainer">
    <br>
    <br>
    <br>
    <br>
    <ul id="navlist">
        <li id="active">
        
        <img width="236px" height="156px" src="/assets/alitas.JPG" data-lazy-type="image" data-lazy-src="http://bootstrapes.com/wp-content/uploads/2014/09/the-interior.jpg" class="lazy lazy-hidden attachment-big-size wp-post-image" alt="the-interior" /><noscript><img width="998" height="526" src="http://bootstrapes.com/wp-content/uploads/2014/09/the-interior.jpg" class="attachment-big-size wp-post-image" alt="the-interior" /></noscript>

        </li>
        <li>

            <img width="236px" height="156px" src="/assets/pierna.JPG" data-lazy-type="image" data-lazy-src="http://bootstrapes.com/wp-content/uploads/2014/09/the-interior.jpg" class="lazy lazy-hidden attachment-big-size wp-post-image" alt="the-interior" /><noscript><img width="998" height="526" src="http://bootstrapes.com/wp-content/uploads/2014/09/the-interior.jpg" class="attachment-big-size wp-post-image" alt="the-interior" /></noscript>

        </li>
        <li>
        
             <img width="236px" height="156px" src="/assets/milanesa.JPG" data-lazy-type="image" data-lazy-src="http://bootstrapes.com/wp-content/uploads/2014/09/the-interior.jpg" class="lazy lazy-hidden attachment-big-size wp-post-image" alt="the-interior" /><noscript><img width="998" height="526" src="http://bootstrapes.com/wp-content/uploads/2014/09/the-interior.jpg" class="attachment-big-size wp-post-image" alt="the-interior" /></noscript>    

        </li>
        
    </ul>


</div>



<br>
<br>
<br>
<br>


<div ALIGN=center >
            <figure class="">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3807.3574011384912!2d-66.28563228197612!3d-17.39462764197934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sbo!4v1416080402279" ></iframe>
             </figure>
           <div class="text-right">
  <address>
      <strong>IMBA S.A.</strong><br>
       Direccion: Barrancas, Cochabamba <br>
      Email:<br>
      
      </address>
</div>

</div>

<br>
<br>
<br>













