<title> Turismo En Boliva</title>

    <body>
        <div id="content-full" align="center">
            <div class="container cont-main">
                <div class="transparent-bg"></div>
                <div id="boxed-area" class="page-content">
                    <div id="sitenav" class="row adj1">
                        <div class="col-lg-12">
                            <div class="topcover">
                                <nav class="navbar navbar-dark" role="navigation" style="border:none;border-radius:0;margin-bottom:0">
                                    <div class="navbar-header">			
                                    <nav class="sitenav collapse navbar-collapse bs-navbar-collapse" role="navigation">
                                    </nav>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                       
                    </div>
                    <div class="row" >
                        <div class="container" style="width:90%">
                            <strong>TURISMO EN BOLIVIA</strong> 
                              
                            <br>
                            <br>
                            <p class="center entry-category">Bolivia es un país con mucho potencial turístico, que cuenta con variados atractivos turísticos, debido a su diversa cultura, regiones geográficas, rica historia y gastronomía. &nbsp; &nbsp;

                            En el país hay seis Patrimonios de la Humanidad declarados por la Unesco:
                            Las ruinas de la ciudad de Tiwanaku, unas de las cunas de la civilización humana, y la más antigua de toda América ya que existió durante 27 siglos. &nbsp; &nbsp;
                            La ciudad de Potosí, ciudad histórica por sus monumentos religiosos y civiles, sus calles, su gente y por supuesto, por su majestuoso e imponente Cerro Rico descubierta el año de 1545, hoy convertido en un ícono nacional. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            La Amazonia, el gran pulmón del planeta, santuario de la vida silvestre.Parque Nacional Noel Kempff Mercado, lugar representativo de la amazonía y de su inmensa biodiversidad, situado en una gran meseta, cubierto por grandes bosques y grandiosas cataratas.
                            Parque Nacional Madidi, el lugar más diverso de Bolivia, declarado por la National Geographic, uno de los 20 mejores lugares para conocer en el mundo.
                            Parque Nacional Toro Toro, donde se encuentran riquezas paleontológicas, cavernas, caídas de agua, pinturas rupestres y otros lugares de interés. &nbsp; &nbsp; 
                            Las Misiones Jesuíticas de Chiquitos, las únicas misiones vivas de todas las de Sudamérica.
                            El Fuerte de Samaipata, la gran roca tallada por los incas en las estribaciones de los Andes como límite de su imperio.
                            El Carnaval de Oruro, gran festividad donde se mezcla lo religioso con lo pagano.
                            </p>
                        </div>
                    </div>
                    <br>
                    <br>
                    
                    <div class="row">
                        <p>

                                <img width="236px" height="156px" src="/assets/oruro.JPG" data-lazy-type="image" data-lazy-src="http://bootstrapes.com/wp-content/uploads/2014/09/the-interior.jpg" class="lazy lazy-hidden attachment-big-size wp-post-image" alt="the-interior" /><noscript><img width="998" height="526" src="http://bootstrapes.com/wp-content/uploads/2014/09/the-interior.jpg" class="attachment-big-size wp-post-image" alt="the-interior" /></noscript>
                                <img width="236px" height="156px" src="/assets/titicaca.JPG" data-lazy-type="image" data-lazy-src="http://bootstrapes.com/wp-content/uploads/2014/09/the-interior.jpg" class="lazy lazy-hidden attachment-big-size wp-post-image" alt="the-interior" /><noscript><img width="998" height="526" src="http://bootstrapes.com/wp-content/uploads/2014/09/the-interior.jpg" class="attachment-big-size wp-post-image" alt="the-interior" /></noscript>
                                <img width="236px" height="156px" src="/assets/chiquitania.JPG" data-lazy-type="image" data-lazy-src="http://bootstrapes.com/wp-content/uploads/2014/09/the-interior.jpg" class="lazy lazy-hidden attachment-big-size wp-post-image" alt="the-interior" /><noscript><img width="998" height="526" src="http://bootstrapes.com/wp-content/uploads/2014/09/the-interior.jpg" class="attachment-big-size wp-post-image" alt="the-interior" /></noscript>
                                <img width="236px" height="156px" src="/assets/pando.jpg" data-lazy-type="image" data-lazy-src="http://bootstrapes.com/wp-content/uploads/2014/09/the-interior.jpg" class="lazy lazy-hidden attachment-big-size wp-post-image" alt="the-interior" /><noscript><img width="998" height="526" src="http://bootstrapes.com/wp-content/uploads/2014/09/the-interior.jpg" class="attachment-big-size wp-post-image" alt="the-interior" /></noscript> 


                        </p>    
                        <br>

                        <p>

                                <img width="236px" height="156px" src="/assets/santa.JPG" data-lazy-type="image" data-lazy-src="http://bootstrapes.com/wp-content/uploads/2014/09/the-interior.jpg" class="lazy lazy-hidden attachment-big-size wp-post-image" alt="the-interior" /><noscript><img width="998" height="526" src="http://bootstrapes.com/wp-content/uploads/2014/09/the-interior.jpg" class="attachment-big-size wp-post-image" alt="the-interior" /></noscript>
                                <img width="236px" height="156px" src="/assets/salar.JPG" data-lazy-type="image" data-lazy-src="http://bootstrapes.com/wp-content/uploads/2014/09/the-interior.jpg" class="lazy lazy-hidden attachment-big-size wp-post-image" alt="the-interior" /><noscript><img width="998" height="526" src="http://bootstrapes.com/wp-content/uploads/2014/09/the-interior.jpg" class="attachment-big-size wp-post-image" alt="the-interior" /></noscript>
                                <img width="236px" height="156px" src="/assets/sucre.JPG" data-lazy-type="image" data-lazy-src="http://bootstrapes.com/wp-content/uploads/2014/09/the-interior.jpg" class="lazy lazy-hidden attachment-big-size wp-post-image" alt="the-interior" /><noscript><img width="998" height="526" src="http://bootstrapes.com/wp-content/uploads/2014/09/the-interior.jpg" class="attachment-big-size wp-post-image" alt="the-interior" /></noscript>
                                <img width="236px" height="156px" src="/assets/tarija.JPG" data-lazy-type="image" data-lazy-src="http://bootstrapes.com/wp-content/uploads/2014/09/the-interior.jpg" class="lazy lazy-hidden attachment-big-size wp-post-image" alt="the-interior" /><noscript><img width="998" height="526" src="http://bootstrapes.com/wp-content/uploads/2014/09/the-interior.jpg" class="attachment-big-size wp-post-image" alt="the-interior" /></noscript> 


                        </p>    
                       

                    </div>
                   
                    <div class="row">
                        <div class="col-lg-12"><br><br></div>
                    </div>

                    <div class="row" ALIGN=right >
                        <div class="col-lg-12" ALIGN=left ><br><br>

                            <strong> Links de Sugerencia: </strong><br>
                            

                                <a href= "http://www.boliviaturismo.com.bo/">Bolivia Turismo</a><br>
                                <a href= "http://www.minculturas.gob.bo/">Ministerio de Turismo y Culturas </a><br>
                                <a href= "http://www.cochabamba.gob.bo/Turismo">Departamento de Turismo- Gobierno Autonómo Municipal de Cochabamba</a><br>
                                <a href= "http://www.lapaz.bo/index.php?option=com_content&view=article&id=6382&Itemid=513">Gobierno Autonómo Municipal de La Paz</a><br>
                                <a href= "http://www.gmsantacruz.gob.bo/turismo/2012/indexturismo.html" >Departamento de Turismo- Gobierno Autonómo Municipal de Santa Cruz</a><br>
                                <a href= "http://www.bolivia.travel/">Bolivia Te Espera</a><br>




                         <br><br></div>
                    </div>

                   
                    
                </div>
            </div>
        </div>
        
    </body>
</html>