

<!DOCTYPE html>
<html lang="en">

<body>

<div class="container">
         
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Video</th>
        <th>Contenido</th>
       
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><iframe width="420" height="315" src="https://www.youtube.com/embed/K8mdtZ6k7O0" frameborder="0" allowfullscreen></iframe></td>
        <td> PRIMER SPOT- CONSUME LO NUESTRO</td>
        
      </tr>
       <tr>
        <td><iframe width="420" height="315" src="https://www.youtube.com/embed/S_t-ejOKwDg" frameborder="0" allowfullscreen></iframe></td>
        <td> SEGUNDO SPOT- CONSUME LO NUESTRO</td>
        
      </tr>
       <tr>
        <td><iframe width="420" height="315" src="https://www.youtube.com/embed/i71NwA2Q_Zs" frameborder="0" allowfullscreen></iframe></td>
        <td> VIDEOCLIP HECHO EN BOLIVIA</td>
        
      </tr>
       <tr>
        <td><iframe width="420" height="315" src="https://www.youtube.com/embed/LXLB_vfkd1w" frameborder="0" allowfullscreen></iframe></td>
        <td> III CONCURSO DE TEATRO-BANCO CENTRAL DE BOLIVIA - 1ER PREMIO</td>
        
      </tr>
       <tr>
        <td><iframe width="420" height="315" src="https://www.youtube.com/embed/Kf0Xnp2geyk" frameborder="0" allowfullscreen></iframe></td>
        <td> III CONCURSO DE TEATRO-BANCO CENTRAL DE BOLIVIA - 2DO PREMIO</td>
        
      </tr>
       <tr>
        <td><iframe width="420" height="315" src="https://www.youtube.com/embed/PqqCfG2OA1c" frameborder="0" allowfullscreen></iframe></td>
        <td> III CONCURSO DE TEATRO-BANCO CENTRAL DE BOLIVIA - 3ER PREMIO</td>
        
      </tr>
      
    </tbody>
  </table>
</div>

</body>
</html>