<!DOCTYPE html>
<html lang="es-ES">
    <head>
        <meta charset="UTF-8" />
        <title>Bienvenido</title>
     
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
     
       

        
        <!-- <script type="text/javascript">
                function mensajeElectoral(){// Ya existe una session
}
        </script> -->
        
        <link rel="alternate" type="application/rss+xml" title="Bancomext &raquo; Inicio RSS de los comentarios" href="http://www.bancomext.com/home/feed" />
<link rel='stylesheet' id='fonts-css'  href='http://fonts.googleapis.com/css?family=Lato%3A300%2C400%2C700%2C300italic%2C400italic%2C700italic%7COswald%3A400%2C700%7CMontserrat%3A400%2C700&#038;ver=4.1.5' type='text/css' media='all' />
<link rel='stylesheet' id='icons-css'  href='http://www.bancomext.com/wp-content/themes/bancomext/assets/vendor/css/font-awesome.min.css?ver=4.1.5' type='text/css' media='all' />
<link rel='stylesheet' id='bxslider-css'  href='http://www.bancomext.com/wp-content/themes/bancomext/assets/vendor/css/jquery.bxslider.css?ver=4.1.5' type='text/css' media='all' />
<link rel='stylesheet' id='fancybox-css'  href='http://www.bancomext.com/wp-content/themes/bancomext/assets/vendor/css/jquery.fancybox.css?ver=4.1.5' type='text/css' media='all' />
<link rel='stylesheet' id='style-css'  href='http://www.bancomext.com/wp-content/themes/bancomext/assets/frontend/css/screen.css?ver=1.1424805111' type='text/css' media='all' />
<link rel='stylesheet' id='print-css'  href='http://www.bancomext.com/wp-content/themes/bancomext/assets/frontend/css/print.css?ver=1.1418776074' type='text/css' media='print' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.bancomext.com/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.bancomext.com/wp-includes/wlwmanifest.xml" /> 


    

    </head>
    <body class="home page page-id-2 page-template-default">
    
    <div id="mobileDetect"></div>
    
    <div id="topbar">
    <div class="container">
    
      
        
        
    
    </div>
</div>


<header id="header">
  <div class="container">
       <div >
        
      <img src=<%=asset_path "logo.png" %>  width="170" height="160" border="2"  align="left">
       <img src=<%=asset_path "fondo.jpg" %> width="700" height="180" border="2"  align="center"><br><br>
        <img src=<%=asset_path "lema.jpg" %>>
    </div>
</header>
<nav id="nav">
    <div class="container">



        <a href="#" id="mobileMenu"><i class="fa fa-bars"></i></a>
        <ul id="nav-ul">
            <li id="menu-item-11" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-11"><a href="/">Inicio</a>

            </li>
<li id="menu-item-148" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-148"><a >Quienes somos</a>
<ul class="sub-menu">
    <li id="menu-item-149" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-149"><a href="/fines">Fines</a></li>
    <li id="menu-item-12" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12"><a href="/objetivos">Objetivos</a></li>
    <li id="menu-item-12" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12"><a href="/directorio">Directorio</a></li>
    <li id="menu-item-12" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12"><a href="">Miembros fundadores</a></li>
    <li id="menu-item-12" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12"><a href="/objeto">Objeto</a></li>
    <li id="menu-item-12" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12"><a href="/nosotros">Nosotros</a></li>
    
</ul>
</li>
<li id="menu-item-154" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-154"><a >Empresas con licencia de uso</a>
<ul class="sub-menu">
    <li id="menu-item-162" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-162"><a href="/empresas">Empresas autorizadas</a></li>
    <li id="menu-item-162" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-162"><a href="">Reglamento de uso</a></li>
    
   
</ul>
</li>
<li id="menu-item-166" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-166"><a >Ferias</a>
<ul class="sub-menu">
    <li id="menu-item-3597" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3597"><a href="/ferias">Ferias en Bolivia</a></li>
    <li id="menu-item-3597" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3597"><a href="">Feria virtual</a></li>
    
</ul>
</li>
<li id="menu-item-166" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-166"><a >Galeria</a>
<ul class="sub-menu">
    <li id="menu-item-3597" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3597"><a href="/videos">Videos</a></li>
    <li id="menu-item-3597" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3597"><a href="/fotos">Fotos</a></li>
    
</ul>
</li>

<li id="menu-item-172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-172"><a href="">Contáctenos</a>
<ul class="sub-menu">
    <li id="menu-item-3592" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3592"><a href="">Registrese</a></li>
    
</ul>
</li>
<li id="menu-item-172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-172"><a href="/gastronomia">Gastronómia</a>

</li>
<li id="menu-item-172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-172"><a href="">Convenios</a>

</li>
            
        </ul>
    
    </div>
</nav>
<%=yield%>
<footer id="footer">
    <div class="container">
        
        <div class="texto-footer">
            <p>Teléfono:<br />
E-mail:<br />
Dirección: </p>
            <p>Última actualización: </p>
        </div>
         
    </div>
</footer>   
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js?ver=1.11.0'></script>

<script type='text/javascript' src='http://www.bancomext.com/wp-content/themes/bancomext/assets/vendor/js/jquery.fancybox.pack.js?ver=1.0'></script>


<script type='text/javascript' src='http://www.bancomext.com/wp-includes/js/hoverIntent.min.js?ver=r7'></script>

<script type='text/javascript' src='http://www.bancomext.com/wp-content/themes/bancomext/assets/frontend/js/app.min.js?ver=1.1423172626'></script>
    </body>
</html>